<div style="text-align: center">
    <p><strong>Smarter transportation with fewer cars and greater access. Transportation that's safer, cheaper, and more
            reliable </strong></p>
    
</div>

<div><a class="btn" [routerLink]="['/menu/book']">Book a ride</a></div>
          <!-- Wrapper for Slides -->
          <div class="carousel-inner">

            <!-- Slide 1 -->
            <div class="item active">
                <img class="fill" src="https://s16.postimg.org/5qy7h0v2d/Desert.jpg" alt="" />
                <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago - A night we won't forget.</p>
                </div>
            </div>

            <div class="item">
                <!-- Slide 2 -->
                <img class="fill" src="https://s11.postimg.org/d7rsly7xb/Hydrangeas.jpg" alt=""  />
                <div class="carousel-caption">
                </div>
            </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
